* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  list-style: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: auto;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}