@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$base-font: 'Press Start 2P', cursive;

// colors
$charcoal: #242424;
$link-hover: #00abdf;
$button-bg: #ffcf32;
$restart-color: #b90000;
$off-white: #fffaf4;
$menu-color: #006eff;