@use 'vars' as *;

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 900px;
  font-family: $start-2p;

  #title {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 32px;
    width: 100%;
    margin: 20px 0;

    h1 {
      font-size: 28px;
    }
  }


  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    #buttons {
      display: flex;
      width: 100%;

      .fa-hand-pointer {
        position: absolute;
        top: 0;
        left: -35px;
        transform: rotate(90deg);
        font-size: 24px;
        visibility: hidden;
        opacity: 0;
        margin-left: 5px;

        &.active {
          visibility: visible;
          opacity: 1;
          margin-left: 0;
        }

      }
    }

    button {
      margin-right: 60px;
      font-size: 24px;
    }

    

    #restart {
      margin-bottom: 10px;
      font-size: 20px;
      outline: none;

      
      &.active {
        color: $restart-color;
        cursor: pointer;
      }

      &:disabled {
        cursor: not-allowed;
      }

      
    }

    #how-to {
      font-size: 20px;
      padding-bottom: 10px;
      text-decoration: none;
      color: $off-white;
      cursor: pointer;

      &:hover,
      &.active {
        color: $banana;
      }

      #how-to-pointer {
        &.active {
          visibility: visible;
          opacity: 1;
          margin-left: 0;
        }
      }
    }

    #links-nav {
      & > ul {
        display: flex;
        li {
          margin-left: 20px;
          font-size: 36px;
        }
      }
    }
  }
}

