@import "./_reset.scss";
@import "./_vars.scss";
@import "./layouts.scss";
@import "./header.scss";

* {
  color: $off-white;
}

a, a > i {
  transition: 0.2s ease-in-out;
  &:hover {
    color: $menu-color;
  }
}
 
#display-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;

  #display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 720px;
    margin: 20px;
    border: 3px solid rgb(32, 32, 32);
  }

}